.blogs-container {
    color: '#000000';
    margin: 5em 0;
}

.blogs-list-container {
    margin: 0 3em;
    font-weight: 600;
    font-size: 48px;
    margin-top: -1em
}

.blogs-list-header-container {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chips-container {
    display: flex;
    gap: 0.3em;
}

.blog-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.blog-item-image {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1em;
    width: 10em;
    cursor: pointer
}

.open-blog-desktop {
    margin: auto 0;
    margin-left: auto;
    cursor: pointer
}

.open-blog-mobile {
    display: none;
}

.blogs-cover-container {
    display: flex;
    height: 110vh;
}

.blogs-cover-1 {
    width: 50%;
    height: 80%;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.blogs-cover-2 {
    width: 50%;
    font-size: 24px;
    line-height: 28px;
}

.blogs-cover-2-1 {
    height: 40%;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    font-weight: 700;
    color: #FFFFFF;
}

.blogs-cover-2-2 {
    height: 40%;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    font-weight: 700;
    color: #FFFFFF;
}

.blogs-cover-text {
    width: 75%;
    text-align: left;
    margin: 0 0 30px 50px;
}

.blog-page-container {
    padding: 7em 0em;
}

.blog-page-header {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin: 40px 0
}

.blog-content-container {
    margin: 5em;
    text-align: left;
    color: #000000;
}

.blog-page-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    margin: 40px 0
}

.blog-page-content {
    white-space: break-spaces;
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    .blogs-list-container {
        margin: 0 .4em;
    }

    .blogs-list-header-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        row-gap: 0.5em;
        font-size: 32px;
    }

    .blog-text {
        margin-left: unset;
        flex-direction: row;
        width: unset;
    }

    .blog-title {
        display: flex;
    }

    .blog-item-image {
        width: 100%;
    }

    .open-blog-desktop {
        display: none;
    }

    .open-blog-mobile {
        display: block;
        margin: auto 0;
        margin-left: auto;
        cursor: pointer
    }

    .blogs-cover-container {
        flex-direction: column;
        height: unset;
    }

    .blogs-cover-1 {
        width: unset;
        height: 50vh;
        font-size: 24px;
        line-height: 28px;
    }

    .blogs-cover-2 {
        width: unset;
        font-size: 24px;
        line-height: 28px;
    }

    .blogs-cover-2-1 {
        height: 40%;
        height: 40vh;

    }

    .blogs-cover-2-2 {
        height: 40%;
        height: 40vh;
    }

    .blog-content-container {
        margin: 1.5em;
    }

    .blog-page-header {
        font-size: 24px;
        line-height: 28px;
    }

}

/* For Tablet View */
@media screen and (min-device-width: 640px) and (max-device-width: 1024px) {
    .blogs-list-container {
        margin: 0 .4em;
    }

    .blogs-list-header-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        row-gap: 0.5em;
        font-size: 32px;
    }

    .blog-item {
        column-gap: 1em;
        align-items: center;
    }

    .blog-text {
        margin-left: unset;
        flex-direction: row;
    }

    .blog-title {
        display: flex;
    }

    .blog-item-image {
        width: 200px;
    }

    .open-blog-desktop {
        display: none;
    }

    .open-blog-mobile {
        display: block;
        margin: auto 0;
        margin-left: auto;
        cursor: pointer
    }

    .blogs-cover-container {
        height: 75vh;
    }

    .blogs-list-container {
        margin-top: -2em
    }

}