.blogs-container {
    color: '#000000';
    margin: 5em 0;
}

.blogs-list-container {
    margin: 0 3em;
    font-weight: 600;
    font-size: 48px
}

.blogs-list-header-container {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chips-container {
    display: flex;
    gap: 0.3em;
}

.blog-item {
    display: flex;
    flex-wrap: wrap;
}

.blog-item-image {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1em;
    width: 10em
}

.open-blog-desktop {
    margin: auto 0;
    margin-left: auto;
    cursor: pointer
}

.open-blog-mobile {
    display: none;
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    .blogs-list-container {
        margin: 0 .4em;
    }

    .blogs-list-header-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        row-gap: 0.5em;
        font-size: 32px;
    }

    .blog-text {
        margin-left: unset;
        flex-direction: row;
    }

    .blog-title {
        display: flex;
    }

    .blog-item-image {
        width: 100%;
    }

    .open-blog-desktop {
        display: none;
    }

    .open-blog-mobile {
        display: block;
        margin: auto 0;
        margin-left: auto;
        cursor: pointer
    }
}