body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #232323;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.nav-bar-right {
  margin-right: 120px;
}

.nav-bar-left {
  margin-left: 120px;
}

.nav-bar-middle {
  color: #FFFFFF;
  display: flex;
  column-gap: 50px;
}

.nav-item {
  cursor: pointer
}

.nav-item:active {
  color: #CC2D2D
}

.grey-button {
  color: #FFFFFF;
  background: #393939;
  padding: 15px 30px;
  border-radius: 26px;
  border: none;
  cursor: pointer
}

.grey-button:active {
  background: #474747;
}

.red-button {
  color: #FFFFFF;
  background: #CC2D2D;
  padding: 15px 30px;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  width: 168px;
  font-size: 16px;
  height: 49px;
}

.red-button:active {
  background: #d04a4a;
  ;
}

.white-button {
  color: #CC2D2D;
  background: #FFFFFF;
  padding: 15px 30px;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  width: 168px;
  font-weight: 600;
  font-size: 20px;
  height: 49px;
}

.white-button:active {
  background: rgb(255, 207, 207);
  ;
}


.menu-button {
  color: #FFFFFF;
  background-color: #393939;
  /* padding: 15px 30px; */
  border-radius: 26px;
  border: none;
  cursor: pointer;
  display: block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: none;
}

.menu-button:active {
  background-color: #474747;

}

.app-title {
  height: 754px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-title-sub {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.app-title-main {
  font-size: 84px;
  font-weight: 600;
  line-height: 99px;
  letter-spacing: 0em;
  width: 903px;
  text-align: center;
}

.app-description {
  display: flex;
  height: 700px;
  align-items: center;
  background: #CC2D2D;
  background-image: url("./assets/images/about-us-bg-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.app-description-text {
  display: flex;
  flex-wrap: wrap;
  row-gap: 75px;
}

.app-description-text-left {
  width: 473px;
  color: #FFFFFF;
  text-align: left;
  font-weight: 500;
  font-size: 64px;
  line-height: 110%;
  margin-left: 121px;
  margin-right: 121px;
  /* position: relative; */
  /* top: -10px; */
}

.app-description-text-right {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 554px;
  color: #FFFFFF;
  text-align: left;
  line-height: 140%;
  margin-left: 39px;
  position: relative;
  top: 10px;
}

.app-description-right {
  display: flex;
  width: 554px;
}

.white-separator {
  width: 13px;
  height: 88px;
  background: #FFFFFF;
  position: relative;
  top: 15px;
}

.background-logo {
  position: absolute;
  left: 19.38%;
  right: 31.15%;
  opacity: 0.1;
}

.our-offerings-body {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #F5F5F5;
}

.general-title {
  font-size: 18px;
  color: #CC2D2D;
  letter-spacing: 0.24em;
}

.general-titile-description {
  font-size: 48px;
  line-height: 120%;
  font-weight: 500;
  color: #000000;
  width: 679px;
  margin: 1em auto 2em auto;
}

.our-offerings-list {
  background: #FFFFFF;
  margin: 120px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.our-offerings-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3em 0;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.our-offerings-text {
  margin: auto 0;
}

.our-offerings-text-title {
  width: 10em;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-align: left;
}

.our-offerings-text-description {
  font-size: 20px;
  line-height: 140%;
  width: 20em;
  text-align: left;
}

.offering-image {
  width: 65%;
  height: auto;
  margin-left: -10em;
}

.faq-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  width: 631px;
  margin: 5% auto;
}

.faq-question-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 1em;
  cursor: pointer;
}

.faq-questions-container {
  margin: auto;
  text-align: left;
  width: 50%;
}

.faq-question {
  margin: 2em 0;
}

.faq-question-answer {
  transition: 0.4s;
}

.footer-container-mobile {
  height: 466px;
  background: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
  height: unset;
  padding-top: 1em;
}

.footer-upper-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3em;
  row-gap: 2em;
}

.footer-lower-container {
  color: #FFFFFFB2;
  padding-bottom: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  row-gap: 1em;
  margin-top: 1em;
}

.footer-lower-text {
  color: #FFFFFFB2;
  /* font-family: 'Raleway'; */
  /* margin-top: auto;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  row-gap: 1em;
  margin-top: 1em; */
}


.footer-logo {
  width: 20em
}

.footer-slogan {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 140%;
}

.footer-newsletter {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}

.footer-newsletter div {
  padding: 0.5em 0;
}

.subscribe-input {
  height: 40px;
  width: 300px;
  background: #393939;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding-left: 1em;
}

.newsletter-button {
  background: #CC2D2D;
  border: none;
  color: white;
  height: 3em;
  border-radius: 10px;
  margin-left: 1em;
  width: 3em;
}

#newsletter::placeholder {
  color: #FFFFFF4D;
  opacity: 1;
}

.footer-navigation-header {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.2em;
  text-align: left
}

.footer-navigation-list {
  color: #FFFFFF;
  font-size: 16px;
  text-align: left;
  line-height: 140%;
  margin-top: 1.5em;
  cursor: pointer;
}

.footer-navigation-list div {
  margin: .5em 0;
}

.general-container {
  padding: 5em 2em;
}

.general-container-grey {
  padding: 5em 2em;
  background: #F5F5F5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.contact-form div {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contact-form label {
  margin-right: auto;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.contact-form input {
  width: 30em;
  height: 3em;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding-left: 1em;
}

.contact-form textarea {
  width: 30em;
  height: 7em;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding-left: 1em;
}

input::placeholder {
  font-family: 'Raleway';
}

#contactMessage::placeholder {
  font-family: 'Raleway';
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.blog-card {
  width: 386px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 1em;
}


.blog-image {
  height: auto;
  width: -webkit-fill-available;
  padding-bottom: 1.5em;
  border-radius: 20px;
}

.blog-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 1em
}

.blog-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 1em;
}

.side-drawer-container {
  background: #CC2D2D;
  height: 100vh;
}

.side-drawer-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.side-drawer-list-container {
  padding: 0 1em;
}

.side-drawer-list-item {
  font-size: 32px;
  line-height: 38px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: left;
  margin: 1em 0;
}

.sidebar-background-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}

.footer-container-desktop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: -4em;
  background: #232323;
  /* padding: 0 5em; */
  /* margin: 1em 0; */
  padding-top: 5em;
  padding-bottom: 3em;
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {

  .nav-bar-left {
    margin-left: 20px;
  }

  .nav-bar-middle {
    display: none;
  }

  .nav-bar-right {
    margin-right: 20px;
  }

  .navbar-contact {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .app-title-sub {
    font-size: 14px;
    width: 209px;
    line-height: 140%;
  }

  .app-title-main {
    font-size: 36px;
    line-height: 42px;
    width: 274px;
    margin-top: 40px
  }

  .app-description {
    background-image: url("./assets/images/about-us-bg-mobile.svg");
  }

  .app-description-text-left {
    width: unset;
    font-size: 36px;
    line-height: 110%;
    margin-left: 20px;
  }

  .app-description-text-right {
    font-size: 15px;
    width: 299px;
    margin-left: 20px;
  }

  .app-description-right {
    margin-left: 24px;
    width: unset;
  }

  .background-logo {
    left: 0;
    right: 0;
  }

  .our-offerings-body {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F5F5F5;
  }

  .our-offerings-list {
    margin: 20px;
  }

  .general-titile-description {
    width: 297px;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
  }

  .our-offerings-text-title {
    font-size: 24px;
  }

  .our-offerings-text-description {
    font-size: 14px;
  }

  .offering-image {
    margin: auto;
  }

  .faq-title {
    font-size: 32px;
    width: 289px;
  }

  .faq-questions-container {
    width: 80%;
  }

  .contact-form input {
    width: 20em;
    padding-left: 1em;
  }

  .contact-form textarea {
    width: 20em;
    padding-left: 1em;
  }

  .footer-navigation-list {
    text-align: center;
  }

  .footer-container-desktop {
    display: none;
  }

  .footer-container-mobile {
    display: block;
  }

}

/* For Tablet View */
@media screen and (min-device-width: 640px) and (max-device-width: 1024px) {

  .footer-container-mobile {
    display: block;
  }

  .footer-container-desktop {
    display: none;
  }

  .nav-bar-left {
    margin-left: 20px;
  }

  .nav-bar-middle {
    display: none;
  }

  .navbar-contact {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .nav-bar-right {
    margin-right: 30px;
  }

  .app-title-sub {
    font-size: 20px;
    width: 513px;
    line-height: 140%;
  }

  .app-title-main {
    font-size: 64px;
    line-height: 75px;
    width: 484px;
    margin-top: 60px
  }

  .app-description {
    background-image: url("./assets/images/about-us-bg-tab.svg");
  }

  .app-description-text-left {
    width: unset;
    margin-left: 40px;
  }

  .app-description-text-right {
    font-size: 15px;
    width: 299px;
    margin-left: 20px;
  }

  .app-description-right {
    margin-left: 24px;
    width: unset
  }

  .our-offerings-list {
    margin: 40px;
  }

  .faq-title {
    font-size: 32px;
    width: 289px;
  }

}




/* ------------------------GRID------------------------------ */
.div1 {
  grid-area: 1 / 1 / 2 / 2;
  width: 22em;
  margin-left: auto;
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
  color: #FFFFFFB2;
  margin-top: auto;
  /* margin-bottom: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  row-gap: 1em;
  margin-top: 1em; */

}

.div3 {
  grid-area: 1 / 2 / 2 / 3;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
  color: #FFFFFFB2;
  margin-top: auto;
}

.div5 {
  grid-area: 1 / 3 / 2 / 4;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
  margin-top: auto;
}